* {
    -fx-primary : #00243F;
    -fx-secondary : #FF8C00;
    -fx-text : #B2B2B2;
    -fx-gray : #C2C2C2;
    -fx-white : #FFFFFF;
}

.root{
    -fx-background-color: -fx-primary;
}

.button{
    -fx-text-fill: -fx-text;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 12pt;
}

.button:hover{
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
}

.text-field{
    -fx-text-fill: -fx-text;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: -fx-secondary;
    -fx-prompt-text-fill: -fx-gray;
}

.table-view{
    -fx-table-rippler-color :  #A0A6C9;
}

.table-view .column-header ,
.table-view .column-header-background,
.table-view .column-header-background .filler{
    -fx-background-color:#2F4C58;
    -fx-font-size:14px;
    -fx-border-width : 0 1 0 1;
    -fx-border-color: BLACK;
}

.table-view .column-header .label {
    -fx-text-fill : WHITE;
}

.table-view .table-cell{
     -fx-background-color: #C2C2C2;
     -fx-text-fill: #111B1E;
     -fx-font-size:14px;
     -fx-alignment: CENTER;
     -fx-border-width : 0 1 0 1;
     -fx-border-color: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell{
    -fx-background-color : #A3ACB1;
}
